/* ///////////////////////*/
/* HEADER  */
/* ////////////////////// */

#root {
  max-width: 32rem;
  margin: 2rem auto;
}

.container {
  background-color: #1b1c22;
  position: relative;
  color: #adcaeb;
  padding: 2rem;
  border-radius: 11px;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.3);
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* overflow: hidden; */
  padding-bottom: 2rem;
}

.header__image {
  max-width: 90%;
  border-radius: 11px;
  transition: all 0.4s;
}
.header__image:hover {
  scale: 1.04;
}

.header__btn-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.header__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.header__logo {
  width: 2.4rem;
  height: 2.4rem;
}

.header__logo-text {
  font-weight: 600;
  font-size: 1.4rem;
}

.header__btn:link,
.header__btn:visited {
  padding: 0.8rem 1.6rem;
  border-radius: 9px;
  color: #444;
  background-color: #c9d6df;
  transition: all 0.2s;
}

.header__btn:hover,
.header__btn:active {
  color: #222;
}

.header__btn:focus {
  outline: 4px solid #80d0c7;
  outline-offset: 2px;
  /* box-shadow: 0 0 0 0.6rem #9599e2;  */
}

/* ///////////////////////*/
/* ABOUT SECTION */
/* ////////////////////// */

.about {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 0.6rem;
}

.about__para {
  font-size: 1.4rem;
}

/* ///////////////////////*/
/* FOOTER */
/* ////////////////////// */

.footer {
  background-color: #c9d6df;
  border-radius: 7px;
  position: absolute;
  left: 50%;
  bottom: -1.8rem;
  transform: translateX(-50%);
  padding: 0.4rem;
  width: 90%;
}

.footer__social-links {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer__social-link:link,
.footer__social-link:visited {
  display: block;
  transition: transform 0.3s ease-out, box-shadow 0.3s ease-out, outline 0.2s;
}

.footer__social-link:hover,
.footer__social-link:active {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  transform: scale(1.2) rotate(2deg);
}

.footer__social-link:focus {
  outline: 2px solid #0093e9;
  outline-offset: 2px;
}

.footer__social-logo {
  height: 2rem;
  width: 2rem;
}
